.center.jumbotron
  %h1 Welcome to QA Career Change!
  %h2
    Home page for
    %a{:href => "https://www.qacareerchange.com/"} QA Career Change
  %h3 This is where we share, learn, and grow together towards the dream of working in tech!
  = link_to "Sign up now!", signup_path, class: "btn btn-lg btn-success"
= link_to image_tag('qa_career_change_logo.png', alt: 'QA Career Change logo', width: '200'),
'https://www.qacareerchange.com/'
