- provide(:title, "About")
%h1 Now is the time for a QA Career Change!!!
%p
  You can learn how making a
  %b QA Career Change
  works by reviewing these student's timelines.
%p
  %a{:href => "https://www.qacareerchange.com/users/1"} Chris Elliot
%p
  %a{:href => "https://www.qacareerchange.com/users/2"} Jessica Chastaine
%p After signing up with an email address, users can make short posts to share their progress, any questions or appiphanies they have, users can also share images and gifs, to help communicate their thoughts, and your feed also shows the posts of all users that you follow.
%p
  %b QA Career Change
  is about upgrading our professional life knowing that this form of empowerment can and will positively affect many parts of our lives with ripple effects in every part of our life, because where you live is an important aspect of the quality of our lives. For example, if you have a specific place you want to live, you will now have highly in demand tech skills to find great paying work there.
%p
  If you want to work online you now (after completing this course) will have the choice to only apply at companies that accept 100% remote work!
%p A Power question to ask yourself, when considering what you do with your time
%p
  %b How well is that working out for you?
%p
  The point is: QA is your foot in the door to a better life, to freedom, towards bringing the future forward as technology plays a more impactful role in each of our lives.
%p Getting the knowledge and applying it is the key to success, with the ultimate goal of having a better life, even if it is something as simple as enjoying your relaxation time a bit more.
%p
  As a starting point, here are 9 parts of life, so you could pick any one or more of these, and rate yourself on a 1 through 10 scale. Then create a plan to improve that aspect, and then act according to the plan you created. Taking note of how working as QA can positively affect each of these aspects of life, directly or indirectly, by giving you the time and freedom to pursue your life's perogative freely.
%ul
  %h3
    %b
      %li Health and physical well being
      %li Relationships
      %li Work
      %li Money
      %li Learning and Growth
      %li Spiritual fulfillment
      %li Fun and enjoyment
      %li Helping others
      %li Love
%p
  We invite you to make a short post (we limit the length of each post to 160 characters) to document and share where you are at on your path to becoming a professional QA!
%p
  After signing up click the
  %a{:href => "https://www.qacareerchange.com/users"} Users
  link at the top of the screen to see all students at QA Career Change, all students can then follow each other's progress and learn together.
%p
  %a{:href => "https://www.qacareerchange.com/signup"} Sign up
  to join our community, it's
  = succeed "!" do
    %b free
%p
  We can make a better life for ourselves and the special people we keep around us.
%p
%h3
  It’s time for a QA Career Change!
