- provide(:title, "About")
%h1 Now is the time for a QA Career Change!
%p
  You can learn how making a
  %b QA Career Change
  works by reviewing these student's timelines.
%p
  %a{:href => "https://www.qacareerchange.com/users/1"} Chris Elliot
%p
  %a{:href => "https://www.qacareerchange.com/users/2"} Jessica Chastaine
%p After signing up with an email address, users can share their progress by making short posts. The soon-to-be QA testers are future fully employed QA professionals, to be in this group, you would be a member of the QA Career Change team. Team members can ask any questions or share any important knowledge that helped them.
%p
  %b QA Career Change
  is about changing our lives for the better, its about improving our professional life specifically and knowing that
this power to be either a location independent software professional earning $80k (on average) working as a year QA
tester, also probably gives you the option of working this job in the city of your choice. This can and will positively affect many parts of
our lives, because where you live is an important aspect of the quality of our lives, a QA Career Change gives you
freedom, and having an in demand skill set and the ability to get paid for it, ensures our quality of life is high. For
example, if you have a specific place you want to live, after completing the QA Career Change course, you will have a
highly in demand skillset with the ability to find great paying work almost anywhere.
%p
  If you want to work online, after completing this course, you will have the choice of only applying at companies that accept 100% remote work.
%p A Power question to ask yourself, when considering what you do with your time
%p
  %b How well is that working out for you?
%p
  %b Maybe it's time for a QA Career Change.
%p
  QA will probably work out really well for you! It can be a key to a better life, to have more freedom, more money, and
simply better work.
%p
  Technology is playing an increasingly greater role in our lives.
%p
  Getting the Software Skillset, this knowledge we at QA Career Change have sacrificed decades getting the experience
and knowledge of, and your job is to apply it, this is the key to your success, which should result in having a better
life, and by completing the course here at QA Career Change, you can be very successful in this life.
%p
  Here is an example of how important a QA Career Change can be for you.
%p
  Here are 9 parts of life, you may not value all of these but everyone values most of them.

%p I want you to rate yourself on a 1 through 10 scale for each of these aspects of life.

%p After that, let's consider how working in QA can positively affect these aspects of your, and your loved ones, lives.

%ul
  %h3
    %b
      %li Health and physical well being
      %li Relationships
      %li Work
      %li Money
      %li Learning and Growth
      %li Spiritual fulfillment
      %li Fun and enjoyment
      %li Helping others
      %li Love
%p
  QA Career Change can positively impact each of these parts of life.
%p
  We are forming our Summer 2022 team now. You can join our team by signing up, after signing up, you can see our team members by clicking the
  %a{:href => "https://www.qacareerchange.com/users"} Users
  link at the top of the screen to see all students at QA Career Change, students can then follow each other's progress and share their learning journey together.
%p
  %a{:href => "https://www.qacareerchange.com/signup"} Sign up
  to join the QA Career Change team, it's
  = succeed "!" do
    %b free to start (Please note: If you cannot sign up right now, please check back weekly to see if we are accepting new students at that time)
%p
  We can make a better life for ourselves.

%p
%h3
  It’s time for a QA Career Change!
