- provide(:title, "Contact")
%h1 QA Career Change!
%p
  %b We are here to help!
%p
  Contact us anytime by sending an email to (Please note we have not setup our email domain yet)
  %a{:href => "mailto:example@example.com"} example@example.com
