- provide(:title, "Contact")
%h1 QA Career Change!
%p
  %b We are here to help!
%p
  Contact us anytime by sending an email to
  %a{:href => "mailto:qacareerchange@gmail.com"} qacareerchange@gmail.com
