- provide(:title, "Help")
%h1 QA Career Change App!
%p
  %b We are here to help you land a great paying job in software!
%p
  If you can read and write, you can work in QA testing.
  The average salary for QA tester is $80,000 per year in America.
  This could work out really well for you, personally, and professionally.
%p

%p
  Every person on our small team started out by working in QA.
%p
  Whether you want to learn to write code or secure a well paying QA job.
  You're in the right place to reach your goals.
%p
  Send us an email saying you'd like to get started working in QA to begin your rewarding QA journey!
%p
  Contact us at:
%a{:href => "mailto:qacareerchange@gmail.com"} qacareerchange@gmail.com


-# To make a QA Career Change, begin by #{link_to "signing up", signup_path}, it’s free!
-# %p Then you can make posts, follow other users, and read your feed. Your feed shows the posts of the other users that you follow.
-# %p It’s simple, fun, and free to use.
-# If you have any questions, you can contact us anytime by sending an email (Please note we have not setup our email domain yet) to
-# %a{:href => "mailto:example@example.com"} example@example.com
