- provide(:title, "Help")
%h1 QA Career Change App!
%p
  %b We are here to help!
%p
  To make a QA Career Change, begin by #{link_to "signing up", signup_path}, it’s free!
%p Then you can make posts, follow other users, and read your feed. Your feed shows the posts of the other users that you follow.
%p It’s simple, fun, and free to use.
%p
  If you have any questions, you can contact us anytime by sending an email (Please note we have not setup our email domain yet) to
  %a{:href => "mailto:example@example.com"} example@example.com
